%h1==Edit the page #{@page.title}

= form_for [:admin,@page], :html => { :multipart => true } do |f|
  %p
    =f.label :title
    =f.text_field :title
  %p
    =f.label :banner
    =f.file_field :banner
  - unless @page.banner_file_name.nil?
    %p
      =link_to t(:current, :scope => :banner), @page.banner.url(:banner) 
      =link_to t(:deletebanner, :scope => :banner), remove_banner_admin_page_path(@page)
  %p
    =f.label :body
    =ckeditor_textarea("page", "body", :width => '100%', :height => '200px')
  =f.submit t(:save)

