%h1=t(:edit, :scope => [:wine,:category,:title], :title => @category.title)

= form_for [:admin,@category], :html => { :multipart => true } do |f|
  %p
    =f.label :title
    =f.text_field :title
  %p
    =f.label :banner
    =f.file_field :banner
  - unless @category.banner_file_name.nil?
    %p
      =link_to t(:current, :scope => :banner), @category.banner.url(:banner) 
      =link_to t(:deletebanner, :scope => :banner), remove_banner_admin_wine_category_path(@category)
  %p
    =f.label :portrait
    =f.file_field :portrait
  - unless @category.portrait_file_name.nil?
    %p
      =link_to t(:current, :scope => :banner), @category.portrait.url(:portrait) 
  %p
    =f.label :body
    =f.cktext_area :body, :toolbar=>'Full', :width=>'100%', :heigth=>'200px'
  =f.submit t(:save)
