%h1=t(:index, :scope => [:wine,:category,:title])
%ul
  %li=link_to t(:new, :scope => [:wine,:category,:title]), new_admin_wine_category_path
  %li=link_to t(:new, :scope => [:wine]), new_admin_wine_path

%table
  %tr{:style => "border-bottom: 1px solid #666;"}
    %th=t(:category, :scope => [:wine, :form])
    %th=t(:title, :scope => [:wine, :form])
    %th=t(:options, :scope => [:wine, :form])
    %th=t(:homepage, :scope => [:wine, :category])
  - @categories.each do |category|
    %tr
      %td{:style => "width: 180px;"}
        %strong=category.title
      %td
      %td
        =link_to t(:edit), edit_admin_wine_category_path(category)
        =link_to t(:delete), admin_wine_category_path(category), :method => "delete"
      %td
        =form_for [:admin, category] do |f|
          -f.check_box :menu, :class => "addmenu"
    - if category.wines.count > 0 
      - category.wines.each do |wine|
        %tr
          %td=""
          %td=wine.title
          %td
            =link_to t(:edit), edit_admin_wine_path(wine)
            =link_to t(:delete), admin_wine_path(wine), :method => "delete"


