#contextnavigation.grid_3
  %ul
    -WineCategory.all.each do |category|
      %li
        =link_to category.title, "/wines/category/"+category.url
        -if !@current_category.nil? && @current_category == category
          %ul
            -category.wines.each do |wine|
              %li
                =link_to wine.title, "/wines/#{category.url}/#{wine.url}"
    %li
      =t(:wineries, :scope => [:wine, :winery])
      %ul
        -Winery.all.each do |winery|
          %li=link_to winery.title, winery_path(winery)
