
/* COPYRIGHT CHIANTI VINIMPORT 
    Author L2code.nl
    Owner Chianti Vinimport
*/

@import url(reset.css);
@import url(960.css);

body{
  font-size: 100%;
  font-family: Trebuchet, Verdana, Sans-Serif;
}

#content{
  float: right;
}

.notice{
  color: #3CCF52;
  background: #DEFAE3;
  border: 1px solid #3CCF52;
  width: auto;
  clear: both;
  padding: 5px;
}

.warning{
  color: #F2E11F;
  background: #FAFADE;
  border: 1px solid #F2E11F;
  width: auto;
  clear: both;
  padding: 5px;
}
