body, html{
	background: #d9d9d9 url(../images/gradient_fill.png) repeat-x;
}

/*blocks*/

#header{
	background: transparent url(../images/logo.png) no-repeat right;
	height: 60px;
  cursor: pointer;
}

#navigation{
	width: 100%;
	height: 20px;
	clear: both;
	background-color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 7px 0px 2px 0px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
	margin: 10px 0px 10px 0px;
	behavior: url(path/to/PIE.htc);
}

#main{
	width: 100%;
	height: auto;
	clear: both;
	background-color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 0px 5px 0px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
	margin: 10px 0px 10px 0px;
}

#contextnavigation{
	float: left; 
	padding: 5px 0px 5px 0px;
}

#fpwine{
	margin: 10px auto;
	width: 900px;
	height: 330px;
}

.fpwine{
	width: 168px;
	height: 320px;
	float: left;
	margin: 0 5px;
}

.fpwineimg{
	border: black 1px solid;
	height: 290px;
	overflow: hidden;
}

#fptext{
	width: 580px;
	height: auto;
	margin: 50px auto;
}

#shop{
	height: auto;
	width: 100%;
}

.shopitem{
	float: left;
	width: 270px;
	height: 140px;
	border: 1px solid black;
	margin: 10px;
}

.shopitem .image{
	
}

.shopitem .text{

}

#cart
{
  width: 100%;
  text-align: left;
  text-transform: capitalize;
}

#cart th.quantity{
  width: 60px;
}
#cart th.options{
  width: 200px;
}

/*lists*/

#navigation ul li{
	float: left;
	width: 16%;
	text-align: center;
}

#contextnavigation ul li{
	padding: 5px 0 0 0;
}

#contextnavigation ul li ul li{
	margin-left: 20px;
	padding: 5px 0 0 0;
}

/*typography*/
body{
	font-family: Georgia, Times New Roman, serif;
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.6em;
}

h3{
	font-size: 1.4em;
}

h4{
	font-size: 1.2em;
}

h5{
	font-size: 1em;
}

h6{
	font-size: 0.9em;
}

#navigation{
	font-weight: bold;
	font-style: italic;
}

#contextnavigation ul li ul li{
	font-style: italic;
}

#contextnavigation ul li.select
{
	font-weight: bold;
}

#contextnavigation ul li.select ul li{
	font-weight: normal;
}

#contextnavigation ul li ul li.select{
	font-weight: bold;
}

p{
	line-height: 1.7em;
	margin: 10px 0px 10px 0px;
}

.fpwine{
	text-align: center;
}

/*input*/

	form{
		margin: 5px 0px;
	}
form label{
	width: 120px;
	display: block;
	float: left;
  vertical-align: center;
	padding: 12px 0px;
}
form div{
  clear: both;
}	
form input{
	width: 150px;
	height: 20px;
	display: block;
	border: 2px #999 solid;
	padding: 4px;
  float: left;
  margin: 5px 0 5px 0;
}

 form textarea{
	width: 200px;
	display: block;
	border: 2px #999 solid;
	height: 100px;
}

input[type="button"], input[type="submit"] {
    background: url("../images/bg-button.png") repeat-x scroll 0 50% #555;
    border: 0 none!important;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Georgia,"Times New Roman",serif;
    font-size: 1.3em;
    font-weight: bold;
    padding: 6px 2px!important;
    width: 100px!important;
  	height: 35px!important;
}

input[type="submit"]:hover{
	background-color: #333;
}

/*links*/

#navigation a{
	color: #000;
	text-decoration: none;
}

#navigation a:hover{
	color: #797979;
}

#contextnavigation a{
	color: #000;
	text-decoration: none;
}

#contextnavigation a:hover{
	color: #797979;
}

/*misc*/
.notice{
  color: #3CCF52;
  background: #DEFAE3;
  border: 1px solid #3CCF52;
  width: auto;
  clear: both;
  padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  margin: 0 7px;
}

.warning{
  color: #F2E11F;
  background: #FAFADE;
  border: 1px solid #F2E11F;
  width: auto;
  clear: both;
  padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  margin: 0 7px;
}

label.error{
  float: left;
  font-size: 0.8em;  
}

input.error{
  border: red 2px solid;
}
