#fptext
  =image_tag("fptext.png", :alt => "Vin til nydelse og hverdag.")
#fpwine
  - @categories.each do |category|
    .fpwine
      .fpwineimg
        =link_to image_tag(category.portrait.url(:portrait), :alt => category.title), "/wines/category/"+category.url
      %p
        %strong=category.title
