#fptext
  =image_tag("fptext.png", :alt => "Vin til nydelse og hverdag.")
#fpwine
  .fpwine
    .fpwineimg
      =image_tag("rodvin.png", :alt => "Rodvin")
    %p
      %strong
        Rodvin
  .fpwine
    .fpwineimg
      =image_tag("hvidvin.png", :alt => "Hvidvin")
    %p
      %strong
        Hvidvin
  .fpwine
    .fpwineimg
      =image_tag("dessertvin.png", :alt => "Dessertvin")
    %p
      %strong
        Dessertvin
  .fpwine
    .fpwineimg
      =image_tag("champagne.png", :alt => "Champagne")
    %p
      %strong
        Champagne
  .fpwine
    .fpwineimg
      =image_tag("olivenolie.png", :alt => "Oliven olie")
    %p
      %strong
        Oliven olie
