= render :partial => "menu/category"
#page.grid_9
  %h1 Cart
  %p=t(:carttext)
  %table#cart
    %tr
      %th.title=t(:title)
      %th.quantity=t(:quantity)
      %th.options=t(:options)
    - @cart_lines.each do |cart_line|
      %tr[cart_line]
        %td=cart_line.wine.title
        %td.quantity
          =form_for cart_line do |f|
            =f.select 'quantity', options_for_select((1..20).collect {|t| [t,t]}, cart_line.quantity), {}, { :id => "cart_quantity[#{cart_line.wine_id}]" }
            =f.hidden_field :wine_id
        %td=link_to t(:remove), wine_cart_path(cart_line.wine), :method => :delete

  =link_to t(:checkout), cart_checkout_path
