%h1 Edit Wines

= form_for [:admin,@wine], :html => { :multipart => true } do |f|
  %p
    =f.label "Category"
    =collection_select(:wine, :wine_category_id, WineCategory.all, :id, :title)
    =link_to "new category", new_admin_wine_category_path
  %p
    =f.label :title
    =f.text_field :title
  %p
    =f.label :sell
    =f.check_box :sell
  %p
    =f.label "#{:price} €"
    =f.text_field :price
  %p
    =f.label :image
    =f.file_field :image
  %p
    =f.label :body
    =f.cktext_area :body, :toolbar=>'Full', :width=>'100%', :heigth=>'200px'
  =f.submit "save"
