%h1=t(:edit, :scope => [:wine,:title], :title => @wine.title)

=link_to t(:view_in_website, :scope => [:wine]), "/wines/#{@wine.url}"

= form_for [:admin,@wine], :html => { :multipart => true } do |f|
  %p
    =f.label t(:category, :scope => [:wine,:form])
    =collection_select(:wine, :wine_category_id, WineCategory.all, :id, :title)
    =link_to t(:new, :scope => [:wine, :category,:title]), new_admin_wine_category_path
  %p
    =f.label t(:winery, :scope => [:wine,:form])
    =collection_select(:wine, :winery_id, Winery.all, :id, :title, :include_blank => true)
    =link_to t(:new, :scope => [:wine,:winery]), new_admin_winery_path
  %p
    =f.label :title
    =f.text_field :title
  %p
    =f.label :sell
    =f.check_box :sell
  %p
    =f.label "#{:price} €"
    =f.text_field :price
  %p
    =f.label :image
    =f.file_field :image
  %p
    =f.label :body
    =f.cktext_area :body, :toolbar=>'Full', :width=>'100%', :heigth=>'200px'
  =f.submit t(:save)
