= render :partial => "menu/category"
#page.grid_9
  #category_header
    - if @current_category.banner_file_name
    = image_tag @current_category.banner.url(:banner)
  %h1=@wine.title
  - if @wine.image_file_name
    = image_tag @wine.image.url(:image)
  =raw(@wine.body)
  .shop
    =link_to "add to cart", wine_cart_path(@wine), :method => :post
