!!!!
%html
  %head
    %title Chanti Vin Import -- Admin
    =javascript_include_tag :defaults
    =javascript_include_tag :ckeditor
    =stylesheet_link_tag "admin"
  %body
    #header
      %h1 Chianti Vinimport Dashboard
    #container
      #flash
        - unless flash[:notice].nil?
          .notice
            =image_tag("icons/accept.png")
            =flash[:notice]

        - unless flash[:warning].nil?
          .warning
            =image_tag("icons/error.png")
            =flash[:warning]
      #menu.grid_3
        %ul
          %li=link_to  "Pages", admin_pages_path
          %li=link_to  "Wines", admin_wine_categories_path
          %li=link_to  "Users", admin_users_path
      #content.grid_9
        - if current_user
          %p="Logged in as #{current_user.email}"
          = link_to "Log out", admin_log_out_path
        =yield
      .clear
    #footer
      Build by l2code

