!!!!
%html
  %head
    %title Chanti Vin Import
    =javascript_include_tag :all
    =stylesheet_link_tag "application"
  %body
    #container
      #header
      #navigation
        %ul
          %li
            =link_to t(:webshop, :scope => :menu), wines_path 
          %li
            =link_to t(:wineries, :scope => :menu), wineries_path 
          -@menu.each do |menu|
            %li
              =link_to menu.title, menu.url
          %li
            =link_to t(:contact, :scope => :menu), contact_path 
      #main
        #flash
          - unless flash[:notice].nil?
            .notice
              =image_tag("icons/accept.png")
              =flash[:notice]
          - unless flash[:warning].nil?
            .warning
              =image_tag("icons/error.png")
              =flash[:warning]
        =yield
        .clear
